/* -----------------------CABEÇALHO------------------------------------- */
.link-contato {
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
}

.link-contato:hover {
    color: #FFF;
}

.link-home {
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
}

.link-home:hover {
    color: #FFF;
}

.link-sobre {
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
}

.link-sobre:hover {
    color: #FFF;
}

.link-entrar {
    text-decoration: none;
    color: #000;
    font-family: Montserrat;
}

.link-entrar:hover {
    color: #FFF;
}


/* -----------------------DIV-1------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}



.container {
    width: 1920px;
    height: 862px;
}

img {
    width: 1920px;
    height: 862px;

}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
}

.logo {
    width: 130px;
    height: 135px;
    left: 60px;
    top: 0;
    position: absolute;
}

.menu-item {
    height: 28px;
    position: absolute;
    color: black;
    font-size: 30px;
}

.logo {
    width: 130px;
    height: 135px;
    left: 60px;
    top: 0;
    position: absolute;
}

.menu-item {
    top: 39px;
    height: 28px;
    position: absolute;
    color: black;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
    right: 132px;
}


.menu-item:nth-child(2) {
    top: 39px;
    right: 592px;
}

.menu-item:nth-child(3) {
    top: 39px;
    right: 454px;

}

.menu-item:nth-child(4) {
    top: 39px;
    right: 278px;

}

.content {
    position: absolute;
    top: 502px;
    left: 1189px;
}

.content-text {
    color: white;
    font-size: 55px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
}

/* -----------------------DIV-2------------------------------------- */

.container2 {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.container2 img {
    width: 1920px;
    height: 862px;
    margin-top: 0;
}

.content2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0);
}

.text2 {
    color: white;
    font-size: 76px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
}

/* -----------------------DIV-3------------------------------------- */

.container3 {
    width: 1920px;
    height: 862px;
    position: relative;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container3 img {
    width: 1920px;
    height: 862px;
}

.text-container3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
    left: 30px
}

.text-right3,
.text-left3 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: calc(50% - 40px);

}

.text-right3 {
    text-align: right;
    order: 2;
}

.text-left3 {
    text-align: left;
    order: 1;
    padding-right: 20px;
}

/* -----------------------DIV-4------------------------------------- */

.container4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 1920px;
    height: 862px;
    background: linear-gradient(180deg, #FFF 16%, #595959 94.5%);
    padding: 20px;
}

.item4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container4 img {
    width: 100%;
    max-width: 392px;
    height: auto;
    margin-top: 32px;
    cursor: pointer;
}

.title4 {
    color: black;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 20px;
    margin-top: 10px;
}


.description-box4 {
    background: #DFDFDF;
    box-shadow: 20px 20px 4px 0px rgba(255, 255, 255, 0.20);
    border-radius: 16px;
    padding: 20px;
    cursor: pointer;
    margin-top: 80px;
    height: 150px;
    width: 330px;
}

.description4 {
    color: black;
    font-size: 19px;
    font-weight: 600;
    font-family: Montserrat;
    word-wrap: break-word;
    text-align: center;
    margin-top: 5px;
}

.container4 img:hover {
    transform: scale(1.2);
    transition: transform 0.5s;
}

.item4 .description-box4:hover {
    box-shadow: 20px 20px 4px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
    transition: box-shadow 0.5s, transform 0.5s;
}

.title4-special {
    color: black;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 20px;
    margin-top: 60px;
}